/* ======================================
            Global CSS
====================================== */
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Tektur;
}

body {
    margin-top: 200px;
    align-items: center;
    min-height: 100vh;
    background-color: #06181f;
}

/* ======================================
            Header CSS
====================================== */

header path {
    fill: #31e7ff28;
    stroke: 10;
    stroke: #31e8ff;
}

/* change values of array and offset to create a starting point from where you want to start your animation */

header path {
    stroke-dasharray: 2400;
    stroke-dashoffset: 2400;
}

/* hover animation effect creation */

header .logInToSameon:hover path {
    animation: animate-Sameon 20s linear forwards;
}

@keyframes animate-Sameon {
    0% {
        stroke-dashoffset: 2400;
    }

    40% {
        stroke-dashoffset: -2400;
        /*same value from the path creation*/
    }

    80% {
        stroke-dashoffset: -4800;
        /*double the value you selected before effect creation*/
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #31e8ff;
    }
}

/* ======================================
            Main CSS
====================================== */

main .loginFormContainer:hover {
    fieldset {
        border: 2px solid #31e8ff;
    }

    legend {
        border: 2px solid #31e8ff;
    }

    table td input[type=text],[type=password]{
        border: 2px solid #31e8ff;
    }
    
    table td input[type=button]{
        border: 2px solid #31e8ff;
    }
}


main .loginFormContainer form fieldset {
    background-color: #31e7ff28;
    border-radius: 5px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #06181f;
    color: #31e8ff;
}



main .loginFormContainer form fieldset legend {
    background-color: #06181f;
    height: 50px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #06181f;
    color: #31e8ff;
}



/* ======================================
                Form CSS
====================================== */

table{
    width: 100%;
}

td input[type=text],[type=password]{
    border: 2px solid #06181f;
    border-radius: 5px;
    width: 100%;
    color: #31e8ff;
    background-color: #06181f;
}

td input[type=button]{
    border: 2px solid #06181f;
    border-radius: 5px;
    width: 60px;
    color: #31e8ff;
    background-color: #06181f;
}

input:focus{
    border: 2px solid #06181f;
    color: #31e8ff;
}